video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    
}
.hero-container{
    background-color: transparent;
    height: 100vh;
    padding-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 10vh; */
    /* justify-content: center; */
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2) ;
    object-fit: cover;
}
.glowing-text{
    text-shadow: 1px 1px 30px rgba(128, 0, 0, 0.8);
}
.hero-tagline{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: center;
    width: 80%;
}
.hero-btns{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.projects-btn{
    background-color: transparent;
    border: 1px solid white;
    padding: 7px 0;
    font-size: 25px;
    width: 220px;
    border-radius: 25px;
    margin: 5px;
    font-family: 'Righteous', cursive;
    color: white;
    
}
.projects-btn:hover{
    background: linear-gradient(135deg, #0254AC 0%, #920666 100%);
    border: none;
}
.contact-btn{
    font-size: 25px;
    width: 220px;
    padding: 7px 0;
    border-radius: 25px;
    border: none;
    margin: 5px;
    font-family: 'Righteous', cursive;
    
}
.contact-btn:hover{
    background: linear-gradient(135deg, #0254AC 0%, #920666 100%);
    color: white;
}
@media all and (max-width: 640px){
    .hero-tagline{
        font-size: 30px;
    }
}