.logo-div{
    min-width: 50%;
    /* background-color: violet; */
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 0;
}
.logo-img{
    width: 15%;
    margin-right: 1vw;
    /* background-color: goldenrod; */
}
.logo-img img{
    width: 100%;
}
.logo-text{
    margin:0;
    /* background-color: gray; */
    font-family: 'Righteous', cursive;
    text-decoration: none;
    font-size: 40px;
    color: white;
    /* -webkit-text-stroke: 1px maroon; */
    text-shadow: 2px 2px 5px cyan;
    text-decoration-line: none;
}
@media all and (max-width: 1360px){
    .logo-text{
        font-size: 30px;
    }
}
@media all and (max-width: 1100px){
    .logo-text{
        font-size: 25px;
    }
}
@media all and (max-width: 640px){
    .logo-text{
        display: none;
    }
}
@media all and (max-width: 480px){
    .logo-img{
        width: 20%;
    }
}